/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Constants */
:root {
    --primary-color: #28b8c0;
    --section-color: #eff7fa;
    --brown-color: #797979;
}

/* start header */
nav {
    top: 0;
    z-index: 105000;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

nav ul .nav-item .nav-link.active {
    color: var(--primary-color);
}

nav ul .nav-item .nav-link {
    font-size: 17px;
    transition: 0.5s;
    font-weight: 600;
    cursor: pointer;
}

nav ul .nav-item .nav-link:hover {
    color: var(--primary-color);
}

nav ul li {
    margin: 5px 10px;
}

nav .navbar-toggler:focus {
    box-shadow: none;
}

nav .navbar-toggler.active {
    color: #ffc107;
}


nav .dropdown-menu li {
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

nav .dropdown-menu li.arabic {
    border-bottom: 1px solid rgba(119, 119, 119, 0.335);
}


nav .dropdown-menu li:hover {
    letter-spacing: 1.4px;
}


nav .icon {
    position: relative;
    margin: 15px;
    cursor: pointer;
}

nav .icon i {
    font-size: 30px;
    color: var(--primary-color);
}

nav .icon .count {
    position: absolute;
    top: -15px;
    left: 35px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: #ffc107;
}

nav .language {
    border: none;
    background-color: transparent;

}

nav .signup {
    color: white;
    background-color: var(--primary-color);
    margin-left: 30px;
    padding: 10px 15px;
    border-radius: 14px;
    transition: 0.5s;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    display: block;
    width: fit-content;
}

@media(max-width:992px) {
    nav .signup {
        margin-left: 0px;
        margin-top:10px;
    }
}

nav .signup:hover {
    color: var(--primary-color);
    background-color: white;
}

/* end header */